nav {
  font-size: 14px;
  padding: 0px 0 10px 0;
}

.container {
  margin: auto;
  width: 80%;
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
}

nav ul {
  padding-inline-start: 0;
}

nav ul li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
}